<!DOCTYPE html>
<html class="dark" lang="es">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{% block title %}ModernBlog - A Minimalist Blog{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body class="min-h-screen flex flex-col bg-background-light dark:bg-background-dark font-body text-background-dark dark:text-background-light">

    {% include 'navbar.html' %}
    {% include 'sidebar.html' %}

    <!-- Contenedor principal con layout vertical -->
    <div id="content-area" class="flex flex-col transition-all duration-300 ease-in-out">
        <div class="w-full max-w-6xl mx-auto flex flex-col">
            
            {% include 'flash.html' %}

            <!-- Contenido principal que crece para ocupar el espacio -->
            <main class="flex-grow">
                {% block content %}{% endblock %}
            </main>

            <!-- Footer que se mantiene al fondo -->
            <footer class="w-full gap-6 border-t border-solid border-gray-200 px-5 py-3.5 text-center dark:border-gray-700">
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">© 2025 ModernBlog. All rights reserved.</p>
            </footer>
        </div>
    </div>

</body>
</html>