<aside id="sidebar" class="w-64 bg-background-light dark:bg-background-dark text-background-dark  border-r border-gray-200 dark:border-gray-700 flex flex-col fixed top-16 left-0 h-screen z-30 transform -translate-x-full transition-transform duration-300 ease-in-out">
    <div class="p-6">
        <div class="flex items-center gap-3">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBjH-d6L0pJw1v3BPh3S4ZIEXmJc2QUw2XlvIgUuoX4Ar87-vvsvBmZAppcXVPxivKJnc5aRWvpIC37BVvRQ4nG0nALoCmb-dOnrueCoRtDTG3CV8dBXM10_k7dmVqA_Liup3nMgazzojO2HQEXg1IQLBEX73IaxAXscjfTHvOSK4oKgamZot3C-6tpLeeqgJRUK1djJjNKZva0f8WQDxzmrBbE-ZwG4iYx5ZbTprIGk88N5ASgEHpAAb5ZkZknDZ9igXzKs_tT7Rk");'></div>
            <div class="flex flex-col">
                <h1 class="text-lg font-medium text-background-dark dark:text-white">My Blog</h1>
                <p class="text-sm text-gray-500 dark:text-gray-400">Admin Panel</p>
            </div>
        </div>
    </div>
    <nav class="flex-1 px-4">
        <a class="flex items-center gap-3 px-3 py-2 rounded-lg bg-primary/20 text-primary" href="#"><span class="material-symbols-outlined">article</span><p class="text-sm font-medium">Posts</p></a>
        
        <a class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700/50" href="#"><span class="material-symbols-outlined">group</span><p class="text-sm font-medium">Users</p></a>
        <a class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700/50" href="#"><span class="material-symbols-outlined">comment</span><p class="text-sm font-medium">Comments</p></a>
        <a class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700/50" href="#"><span class="material-symbols-outlined">folder</span><p class="text-sm font-medium">Categories</p></a>
        <a class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700/50" href="#"><span class="material-symbols-outlined">settings</span><p class="text-sm font-medium">Settings</p></a>
    </nav>
</aside>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuToggle = document.getElementById('menu-toggle');
        const sidebar = document.getElementById('sidebar');
        const contentArea = document.getElementById('content-area');

        if (menuToggle && sidebar && contentArea) {
            menuToggle.addEventListener('click', () => {
                sidebar.classList.toggle('-translate-x-full');
                contentArea.classList.toggle('ml-64');
            });
        }
    });
</script>